@import "../node_modules/typeface-dm-sans/index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define styles for the default root window element */
:root {
    --background-color-primary: #ebebeb;
    --background-color-secondary: #fafafa;
    --accent-color: #cacaca;
    --text-primary-color: #222;
    --element-size: 4rem;
  }
  
  /* Define styles for the root window with dark - mode preference */
  :root.dark-theme {
    --background-color-primary: #1e1e1e;
    --background-color-secondary: #2d2d30;
    --accent-color: #3f3f3f;
    --text-primary-color: #ddd;
  }
  
  p {
    color: var(--text-primary-color);
  }