@import "../node_modules/typeface-dm-sans/index.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define styles for the default root window element */
:root {
    --background-color-primary: #ebebeb;
    --background-color-secondary: #be123c;
    --accent-color: #cacaca;
    --text-primary-color: #222;
    --element-size: 4rem;
    --text-header-color: #ddd;
    --text-hover-color: white;
  }
  
  /* Define styles for the root window with dark - mode preference */
  :root.dark-theme {
    --background-color-primary: #1e1e1e;
    --background-color-secondary: #be123c;
    --accent-color: #3f3f3f;
    --text-primary-color: #ddd;
      --text-header-color: #ddd;
      --text-hover-color: white;
  }

    /* Define styles for the root window with high contrast - mode preference */
    :root.high-contrast {
        --background-color-primary: #000000;
        --background-color-secondary: #E2CAD8;
        --text-primary-color: #E2CAD8;
        --text-header-color: #000000;
        --text-hover-color: #2b2b2b;
    }

    .normal-fontSize p, .normal-fontSize span, .normal-fontSize nav, .normal-fontSize a{
        font-size: medium;
    }

    .medium-fontSize p, .medium-fontSize span, .medium-fontSize nav, .medium-fontSize a{
        font-size: larger;
    }

    .medium-fontSize h3{
        font-size: x-large;
    }

    .large-fontSize p, .large-fontSize span, .large-fontSize nav, .large-fontSize a{
        font-size: xx-large;
    }

    .large-fontSize h3{
        font-size: xx-large;
    }

    .large-fontSize .content h2{
        font-size: xxx-large;
    }

html{
      background-color: var(--background-color-primary);
  }

  .bg-rose-700-custom{
      background-color: var(--background-color-secondary);
  }
  
  .content {
    color: var(--text-primary-color);
  }

  nav, span, .title, .subject, .simulator-content, .img-placeholder{
      color: var(--text-header-color);
  }

  a:hover{
      color: var(--text-hover-color);
  }